{% extends "baseUser.html" %}
{% load static %}

{% block styles %}
  <link rel="stylesheet" href="{% static 'comprasUser.css' %}">
{% endblock %}

{% block title %}User Page{% endblock %}
{% block page_title %}Minhas Reservas{% endblock %}

{% block content %}
<div class="table-container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">ID Reserva</th>
        <th scope="col">Pacote</th>
        <th scope="col">Destino</th>
        <th scope="col">Data Partida</th>
        <th scope="col">Data Regresso</th>
        <th scope="col">Estado</th>
        <th scope="col">Preço Total</th>
        <th scope="col">Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Pacote A</td>
        <td>Lisboa</td>
        <td>01/11/2025</td>
        <td>05/11/2025</td>
        <td>Confirmada</td>
        <td>€450</td>
      </tr>
      <tr>
        <td>2</td>
        <td>Pacote B</td>
        <td>Porto</td>
        <td>10/11/2025</td>
        <td>15/11/2025</td>
        <td>Pendente</td>
        <td>€600</td>
      </tr>
    </tbody>
  </table>
</div>
{% endblock %}