<!-- templates/components/package_cards.html -->
{% load static %}
<div class="container my-5">
    <h4 class="section-title text-center mb-4">Pacotes Populares</h4>

    <div class="row g-4">
        {% for pacote in pacotes %}
        <div class="col-md-4">
            <div class="package-card">
            <div class="package-image">
    {% if pacote.imagem %}
        <img src="/media/{{ pacote.imagem }}" alt="{{ pacote.nome }}"
             class="img-fluid rounded shadow-sm"
             style="width: 100%; height: 220px; object-fit: cover;">
    {% else %}
        <img src="{% static 'default.jpg' %}" alt="Sem imagem"
             class="img-fluid rounded shadow-sm"
             style="width: 100%; height: 220px; object-fit: cover;">
    {% endif %}
</div>
                <div class="package-body">
                    <div class="package-title">{{ pacote.nome }}</div>
                    <div class="package-location">{{ pacote.descricao_item|truncatewords:10 }}</div>
                    <div class="package-duration">{{ pacote.data_inicio }} → {{ pacote.data_fim }}</div>
                    <div class="package-price">€{{ pacote.preco_total }}</div>
                   <a href="{% url 'pacote_detalhes' pacote.pacote_id %}" class="btn-details">Ver Detalhes</a>


                </div>
            </div>
        </div>
        {% empty %}
        <div class="col-12">
            <p class="text-center text-muted">Nenhum pacote disponível no momento.</p>
        </div>
        {% endfor %}
    </div>
</div>
