<div class="search-box bg-dark text-white p-3 rounded-2 shadow position-relative mx-auto" 
     style="max-width: 750px; margin-top: -50px; z-index: 10; font-size: 0.95rem;">
  <h5 class="mb-3 text-center fw-semibold">Procure o seu pacote!</h5>

  <!--FORMULÁRIO DE PESQUISA -->
  <form method="GET" action="{% url 'home' %}" class="row g-2 align-items-center justify-content-center">
    <div class="col-md-5 col-12">
      <input 
        type="text" 
        name="q" 
        class="form-control" 
        placeholder="Destino (ex: Lisboa, Paris...)" 
        value="{{ request.GET.q }}"
      >
    </div>

    <div class="col-md-3 col-12">
      <select name="mes" class="form-select">
        <option value="">- escolha o mês -</option>
        <option value="01">Janeiro</option>
        <option value="02">Fevereiro</option>
        <option value="03">Março</option>
        <option value="04">Abril</option>
        <option value="05">Maio</option>
        <option value="06">junho</option>
        <option value="07">Julho</option>
        <option value="08">Agosto</option>
        <option value="09">Stembro</option>
        <option value="10">Outubro</option>
        <option value="11">Novembro</option>
        <option value="12">Dezembro</option>

      </select>
    </div>

    <div class="col-md-2 col-12 text-center">
      <button type="submit" class="btn btn-info w-100">
        <i class="bi bi-search"></i> Pesquisar
      </button>
    </div>
  </form>
</div>
