.container {
    display: flex;
    text-align: center;
    margin-top: 150px;
    align-items: center;
    flex-direction: column;
}

form{
    margin-top: 50px;
    text-align: center;
    width: 60%;
}

button{
    margin-top: 30px;
    width: 30%;
    height: 45px;
    border-radius: 50%;
}

.recover{
    margin-top: 25px;
}