{% extends 'base.html' %}
{% load static %}

{% block title %}Dashboard{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'dashboard.css' %}">
{% endblock %}

{% block content %}
<div class="header-section">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center">
            <h1 class="h4 mb-0">Dashboard</h1>
            <div class="d-flex align-items-center gap-2"></div>
        </div>
    </div>
</div>

<div class="container">

    <!-- Cards de estatísticas -->
    {% include 'components/dashboard_cards.html' %}

    <!-- Pacotes Populares -->
    <h4 class="section-title mt-4 mb-3">Pacotes Populares</h4>

    {% include 'components/package_cards.html' %}
    
</div>
{% endblock %}
